@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Quicksand", serif;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid blue;
}

.fa-bars{
  visibility: hidden;
}

/* Header section style */
.fa-bars{
  display: none;
}
.navbar {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}
.logo span {
  color: black;
  font-weight: 700px;
  font-size: 2rem;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}
.nav-links li a {
  text-decoration: none;
}

.contact-btn {
  background-color: orange;
  width: 157px;
  height: 50px;
  border: none;
  border-radius: 12px;
  font-weight: 600px;
  font-size: 1.25rem;
  text-decoration: none;
  text-align: center;
  color: white;
}
.home {
  color: orange;
  font-weight: 700px;
  font-size: 1.25rem;
}
.about {
  color: skyblue;
  font-weight: 700px;
  font-size: 1.25rem;
}
.facilities {
  color: #05d4df;
  font-weight: 700px;
  font-size: 1.25rem;
}
.admission {
  color: #5d58ef;
  font-weight: 700px;
  font-size: 1.25rem;
}

.horizon{
  visibility: hidden;
}

/* Banner section style */

.banner-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 50px; */
}

.banner-title {
  font-weight: 700px;
  font-size: 3.5rem;
  color: black;
}

.empowring {
  color: orange;
}
.towards {
  color: skyblue;
}

.banner-btn {
  width: 197px;
  height: 50px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 12px;
  font-weight: 700px;
  font-size: 1.25rem;
}

/* standered Section Style */

.standered-section {
  /* border: 2px solid salmon; */
  background-image: url(./assets/bg.png);
  width: 100%;
  /* background-size: cover; */
}

.Standard-title {
  font-weight: 700px;
  font-size: 2.75rem;
  color: #000000;
  text-align: center;
}
.standered-container {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  gap: 28px;
}
.box-1 {
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 1);
  background: linear-gradient(rgba(222, 245, 255, 1), rgba(255, 255, 255, 0));
  box-shadow: 0 0 28.3px 0.95px rgba(0, 0, 0, 0.05);
  text-align: center;
  width: 367px;
  height: 475px;
  /* margin-bottom: 200px;
    margin-left: 140px;
    margin-right: 140px; */
}
.box-1 img {
  margin-top: 50px;
}
.box-title {
  font-weight: 700px;
  font-size: 1.5rem;
  color: #202020;
}
.box-description {
  font-weight: 500px;
  font-size: 1rem;
  color: #808080;
}
#link-1 {
  text-decoration: none;
  font-weight: 700px;
  font-size: 1rem;
  color: #64c8ff;
}
.box-2 {
  border-radius: 18px;
  background-color: #fff4dc;
  background: linear-gradient(rgba(255, 244, 220, 1), rgba(255, 255, 255, 0));
  box-shadow: 0 0 28px 0.94px rgba(0, 0, 0, 0.05);
  text-align: center;
  width: 367px;
  height: 475px;
}
.box-2 img {
  margin-top: 53px;
}
#link-2 {
  text-decoration: none;
  font-weight: 700px;
  font-size: 1rem;
  color: #f0aa00;
}
.box-3 {
  border-radius: 18px;
  background-color: #f2e8ff;
  background: linear-gradient(rgba(238, 225, 255, 1), rgba(255, 255, 255, 0));
  box-shadow: 0 0 28px 0.94px rgba(0, 0, 0, 0.05);
  text-align: center;
  width: 367px;
  height: 475px;
}
.box-3 img {
  margin-top: 50px;
}
#link-3 {
  text-decoration: none;
  font-weight: 700px;
  font-size: 1rem;
  color: #8700ff;
}

.btn-container{
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.standered-btn-left:hover{
  background-color: #05d4df;
}
.standered-btn-left{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: orange;
}
.fa-angle-left{
  font-size: 2rem;
  color: white;
}
.standered-btn-right:hover{
  background-color: #05d4df;
}
.standered-btn-right{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: none;
  background-color: orange;
}
.fa-angle-right{
  font-size: 2rem;
  color: white;
}



/* story section style */
.story-section {
  margin-top: 60px;
  /* background-image: url(./assets/bg.png); */
  /* background: linear-gradient(rgba(255, 255, 255, 1),rgba(254, 163, 1, 1) ); */
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(254, 163, 1, 0.3) ), url(./assets/bg.png);
  width: 100%;
}
.title {
  text-align: center;
  font-weight: 700px;
  font-size: 2.75rem;
  color: #000000;
}
.stories-main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  height: 630px;
}
.box-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.big-box {
  background-color: white;
  border-radius: 16px;
  /* border: 0.5px solid black; */
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 1);
}
.big-box img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.big-box-btn {
  position: relative;
  bottom: 25px;
  background-color: #3cd8e8;
  font-weight: 500px;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 47px;
  width: 174px;
  height: 47px;
  margin-left: 30px;
}
.big-box-title{
  font-weight: 700px;
  font-size: 1.5rem;
  color: #000000;
  padding-left: 30px;
}

.big-box-description {
  font-weight: 600px;
  font-size: 1rem;
  color: #666666;
  padding-left: 30px;
}
.story-card {
  background-color: white;
  border-radius: 16px;
  /* border: 0.5px solid black; */
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 1);
}
.story-card img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
/* all internal style of stories section */
.story-card-btn-1 {
  /* margin-top: -80px;
  margin-left: 30px; */
  position: relative;
  bottom: 25px;
  left: 28px;
  width: 170px;
  height: 38px;
  background-color: #95b226;
  border: none;
  border-radius: 47px;
  font-weight: 500px;
  font-size: 1rem;
  color: white;
}

.story-card-btn-2 {
  /* margin-top: -80px;
  margin-left: 30px; */
  position: relative;
  bottom: 25px;
  left: 28px;
  width: 170px;
  height: 38px;
  background-color: #5d58f0;
  border: none;
  border-radius: 47px;
  font-weight: 500px;
  font-size: 1rem;
  color: white;
}

.story-card-btn-3 {
  /* margin-top: -80px;
  margin-left: 30px; */
  position: relative;
  bottom: 25px;
  left: 28px;
  width: 170px;
  height: 38px;
  background-color: #b1930e;
  border: none;
  border-radius: 47px;
  font-weight: 500px;
  font-size: 1rem;
  color: white;
}

.story-card-btn-4 {
  /* margin-top: -80px;
  margin-left: 30px; */
  position: relative;
  bottom: 25px;
  left: 28px;
  width: 170px;
  height: 38px;
  background-color: #ff002b;
  border: none;
  border-radius: 47px;
  font-weight: 500px;
  font-size: 1rem;
  color: white;
}

.story-main-btn {
  width: 195px;
  height: 50px;
  background-color: black;
  font-weight: 700px;
  font-size: 1.25rem;
  color: white;
  border: none;
  border-radius: 12px;
  margin-top: 30px;
}

.stori-main-button {
  margin-top: 60px; 
  text-align: center;
}

.story-card-title {
  font-weight: 700px;
  font-size: 1rem;
  color: #000000;
  padding-left: 30px;
}


/* footer section style */

footer{
  background-color: #01ACFD;
}
/* .kids-education{
  display: flex;
  gap: 10px;
}
.footer-container{
  display: flex;
  justify-content: space-between;
}
.footer-links li{
  list-style: none;
}
.footer-links li a{
  text-decoration: none;
  color: white;
} */
.footer-logo{
  display: flex;
}
.footer-about{
  margin-left: 50px;
}
.kids-eduation-title{
  font-weight: 700px;
  font-size: 1.5rem;
  color: white;
}
.footer-logo img{
  width: 70px;
  height: 80px;
}
.des{
  font-weight: 700px;
  font-size: 1.25rem;
  color: white;
}
.keep{
  font-weight: 700px;
  font-size: 1.5rem;
  color: white;
}
.about-school{
  font-weight: 700px;
  font-size: 1.5rem;
  color: white;
}

footer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container{
  /* border: 1px solid black; */
  width:1070px;
  display: flex;
      justify-content: space-between;
}
.footer-section{
  /* border: 1px solid red; */
  flex: 1;
  padding: 0 15px;
}
.footer-section a{
  text-decoration: none;
  color: white;
}
.social-icons{
  display: flex;
  gap: 10px;
}
.humr{
  font-weight: 500px;
  font-size: 1.25rem;
}




/* responsive section style */

@media screen and (max-width: 576px) {


/* navber section responsive */
.school-title{
  display: none;
}
.nav-links{
  display: none;
}
.contact-btn{
  display: none;
}
.fa-bars{
  visibility: visible;
  display:block;
  text-align: center;
  font-weight: 700px;
  font-size: 2rem;
}
.horizon{
  visibility: visible;
}

  /* banner section responsive */
  .banner-section {
    flex-direction: column-reverse;
    text-align: center;
    width: 100%;
  }
  .banner-image img {
    width: 100%;
  }
  .banner-text {
    width: 100%;
  }
 .banner-text{
  text-align: center;
 }
  /* standered section responsive */
  .standered-container {
    flex-direction: column;
    width: 100%;
  }
  .box-1,
  .box-2,
  .box-3 {
    width: 100%;
  }
  .btn-container{
    display: none;
  }

  /* our stories section responsive */
  .big-box {
    display: none;
  }
  .box-container {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .story-section {
    width: 100%;
  }
  .story-card img {
    width: 100%;
  }
  .story-card{
    width: 100%;
  }
  .stories-main-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .story-card-btn-1 {
    width: 130px;
    height: 38px;
    background-color: #95b226;
    border: none;
    border-radius: 47px;
    font-weight: 500px;
    font-size: 0.75rem;
    color: white;
  }
  .story-card-btn-2 {
    width: 130px;
    height: 38px;
    background-color: #5d58f0;
    border: none;
    border-radius: 47px;
    font-weight: 500px;
    font-size: 0.75rem;
    color: white;
  } 

  .story-card-btn-3 {
    width: 130px;
    height: 38px;
    background-color: #b1930e;
    border: none;
    border-radius: 47px;
    font-weight: 500px;
    font-size: 0.75rem;
    color: white;
  }
  .story-card-btn-4 {
    width: 130px;
    height: 38px;
    background-color: #ff002b;
    border: none;
    border-radius: 47px;
    font-weight: 500px;
    font-size: 0.75rem;
    color: white;
  }
 
  /* footer section responsive */
 .footer-container{
  flex-direction: column;
 }
 .footer-about{
  margin-left: 0;
 }
